[Unit]
Description=Git queue manager
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/git-queue server
WorkingDirectory=/run/git-queue
RuntimeDirectory=git-queue

User=git-queue
Group=git-queue

Restart=on-failure
StartLimitInterval=10s

[Install]
WantedBy=multi-user.target
